
%div.flash-box
  %div.notice グループを作成しました
%div.wrapper
  %div.side
    %div.side__header
      %p.side__header__user-name civa
      %ul.user
        %li.user__edit
          %a{:href => "/groups/new"}
            %i.fa.fa-edit
        %li.user__new-group
          %a{:href => "/users/185/edit"}
            %i.fa.fa-cog
    %div.group
      %a{:href => "/groups/895/messages"}
        %div.groups
          %p.group__group-name cat
          %p.group__latest-message まだメッセージがありません
%div.chat-main
  %div.main-header
    %div.current-group{"data-group_id" => "895"}
      %h2.current-group__name cat
      %ul.member-list
        Member：
        %li.member-list__member atsuki
        %li.member-list__member civa
    %a{:href => "/groups/895/edit"}
      %div.edit-btn Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'


